In [38]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [5]:
df1 = pd.read_csv("text.csv")

In [6]:
df1

                                            Document      Class
0         Teclov is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [7]:
df1['Class'] = df1.Class.map({'cinemaa':0, 'education':1})
df1

                                            Document  Class
0         Teclov is a great educational institution.    1.0
1            Educational greatness depends on ethics    1.0
2  A story of great ethics and educational greatness    1.0
3                           Sholey is a great cinema    NaN
4                   good movie depends on good story    NaN

In [9]:
X= df1['Document'].to_numpy()
Y = df1['Class'].to_numpy()
Y = Y.astype('int')

In [13]:
print("X")
print(X)
print("Y")
print(Y)

X
['Teclov is a great educational institution.'
 'Educational greatness depends on ethics'
 'A story of great ethics and educational greatness'
 'Sholey is a great cinema' 'good movie depends on good story']
Y
[                   1                    1                    1
 -9223372036854775808 -9223372036854775808]

In [16]:
vec = CountVectorizer( )

In [18]:
vec.fit(X)
vec.vocabulary_

{'teclov': 15,
 'is': 9,
 'great': 6,
 'educational': 3,
 'institution': 8,
 'greatness': 7,
 'depends': 2,
 'on': 12,
 'ethics': 4,
 'story': 14,
 'of': 11,
 'and': 0,
 'sholey': 13,
 'cinema': 1,
 'good': 5,
 'movie': 10}

In [21]:
vec = CountVectorizer(stop_words='english' )
X = ["Your", "input", "data", "goes", "here"]
vec.fit(X)
vec.vocabulary_

{'input': 2, 'data': 0, 'goes': 1}

In [29]:
print(vec.get_feature_names_out())
print(len(vec.get_feature_names_out()))

['data' 'goes' 'input']
3

In [25]:
X_transformed=vec.transform(X)
X_transformed

<5x3 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [33]:
X=X_transformed.toarray()
X

array([[0, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 0]])

In [31]:
pd.DataFrame(X, columns=vec.get_feature_names_out())

   data  goes  input
0     0     0      0
1     0     0      1
2     1     0      0
3     0     1      0
4     0     0      0

In [36]:
df2 = pd.read_csv('test_text.csv')

In [39]:
test_numpy_array = df2.values
X_test = test_numpy_array[:, 0]
Y_test = test_numpy_array[:, 1]
y_test = Y_test.astype('int')

print("X_test:")
print(X_test)
print("y_test:")
print(y_test)

X_test:
['very good educational institution']
y_test:
[1]

In [40]:
X_test_transformed=vec.transform(X_test)
X_test_transformed

<1x3 sparse matrix of type '<class 'numpy.int64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [41]:
X_test=X_test_transformed.toarray()
X_test

array([[0, 0, 0]])

In [43]:
mnb=MultinomialNB()

mnb.fit(X,Y)

Y_pred_proba = mnb.predict_proba(X_test)

In [46]:
Y_prediction = mnb.predict(X_test)
acc = accuracy_score(y_test, Y_prediction)

print("Accuracy:", acc)

Accuracy: 1.0